body{
  background-color: #000;
  }
h2{
  color: #FFF;
}
#imagecontainer{ 
  margin: 0 auto;
  text-align: center;
  min-height:300px;
}
.imagebox{
  display: none;
}
.center-image{
  min-height: 300px;  
  min-width: 450px;
  text-align: center; 
}
#btn_continue{
  visibility: hidden;
  }
.AAT-images{
  display:none;
}
.goalField{
  margin-top: 20px;
}
#correct{
  justify-content: center;
  font-size: 100px;
  color: #FFF;
  display: none;
  transition: all 1s ease-in-out;
  transform: scale(1);
  text-align: center;
}
#wrong{
  justify-content: center;
  font-size: 100px;
  color: #FFF;
  display: none;
  transition: all 1s ease-in-out;
  transform: scale(1);
  text-align: center;
}
 #fixationcross{
  justify-content: center;
  font-size: 150px; 
  color: #FFF;
  display: none;
  transition: all 1s ease-in-out;
  text-align: center;
 
} 

#header{
  max-height: 30px;
}

#approach{
  min-height: 100px;
  border: 1px solid red;
}
#avoid{
  min-height: 100px;
  border: 1px solid red;
}
.measureField{
  min-height: 125px;
}
#neutral{
  min-height: 40px
}
.button{
  text-align: center;
}
#button{
  min-width: 250px !important;
}
#answer-correct{
   visibility: hidden; 
   position: absolute;
   top: 0%;
   left:0%
}
#answer-wrong{
   visibility: hidden;
   position: absolute;
   top: 0%;
   left:0% 
}
